body {
    margin: 0;
    padding: 0;
}

.menu__bar {
    background-color: aquamarine;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.logo {
    color: pink;
    font-size: 30px;
}

.logo span {
    color: green;
}

.menu__bar ul {
    list-style: none;
    display: flex;
}

.menu__bar ul li {
    padding: 10px 30px;
}

.menu__bar ul li a {
    color: blueviolet;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}  

.menu__bar ul li a:hover {
    color: red;
}  

.container {
    background-color: #2e2e2e;
    width: 800px;
    min-width: 800px;
    height: 440px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px;
}

.listContainerL,.listContainerR {
    display: none;
    top: 100px;
    background-color: #2e2e2e;
    width: 400px;
    height: 310px;
    color: white;
    padding: 5px;
    margin: 200px auto;
    overflow: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

.container .getSongL {
    float: left;
    margin: 0 0 5px 5px;
    cursor: pointer;
}

.container .getSongR {
    float: right;
    margin: 0 0 5px 5px;
    cursor: pointer;
}

.container .spinContainerL {
    float: left;
    margin-right: 10px;
    margin-top: -7px;
}

.container .songTitle {
    width: 250px;
    height: 10px;
    margin: 10px 0 0 0;
    color: white;
    font-weight: bold;
}

.container .spinContainerR {
    float: right;
    margin-top: -7px;
}

.container .progress,.progressR {
    margin: 15px 5px 0 5px;
}

.container .timeProgressL,.timeProgressR {
    display: flex;
    position: absolute;
    text-align: center;
    margin-left: 20px;
}

.timeProgressL span {
    margin-top: 15px;
}

.timeProgressR span {
    margin-top: 15px;
}

.container .spinIconL,.spinIconR {
    display: none;
    transform-origin: 50% 50%;
    animation: 2s rotateRight infinite linear;
}

@keyframes rotateRight {
    100% {transform:rotate(360deg);}
}

.container .playButtonsL {
    float: left;
    margin: 350px 0 10px 20px;
    position: absolute;
    cursor: pointer;
}

.container .playButtonsR {
    float: right;
    margin: 5px 20px 50px 10px;
    cursor: pointer;
}

.container .pauseL,.pauseR {
    display: none;
    cursor: pointer;
}

.container .crossfaderContainer {
    position: absolute;

    bottom: -150px;
    left: 66.5%;
    transform: rotate(90deg);
    justify-content: center;
}

.container .range {
    position: absolute;
    margin: 140px 10px 10px 340px;
}

input[type="range"]{
    writing-mode: vertical-lr;
    width: 40px;
    margin: 10px;
    transform: rotate(180deg);
}

.container .beatstripContainer {
    position: relative;
    height: 20px;
    width:  200px;
    background: black;
    overflow: hidden;
    border: 1px solid white;
}

.container .beatstrip {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.container .beatMarker {
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    opacity: 0.8;
    animation: moveLeft linear;
}

.container .beatstrip#beatstripL .beatMarker {
    background: cyan;
}

@keyframes moveLeft {
    from {left: 200px;}
    to {left: -4px;}
}
